/* Figtree Variable Font */
@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500 800;
  font-display: swap;
  src: url("../../assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}